src/Singularis.Specification/Singularis.Specification.Executor.Nhibernate/obj/
src/Singularis.Specification/Singularis.Specification.Domain/obj/
src/Singularis.Specification/.idea/.idea.Singularis.Specification/.idea/modules.xml
src/Singularis.Specification/.idea/.idea.Singularis.Specification/riderModule.iml
src/Singularis.Specification/.idea/.idea.Singularis.Specification/.idea/workspace.xml
src/Singularis.Specification/.idea/.idea.Singularis.Specification/.idea/contentModel.xml
