src/Singularis.Specification/Singularis.Specification.Definition/obj
src/Singularis.Specification/Singularis.Specification.Definition/bin
src/Singularis.Specification/Singularis.Specification.Demo/obj
src/Singularis.Specification/Singularis.Specification.Demo/bin
src/Singularis.Specification/Singularis.Specification.Executor.Common/obj
src/Singularis.Specification/Singularis.Specification.Executor.Common/bin
src/Singularis.Specification/Singularis.Specification.Executor.EntityFramework/obj
src/Singularis.Specification/Singularis.Specification.Executor.EntityFramework/bin
src/Singularis.Specification/Singularis.Specification.Executor.Nhibernate/obj
src/Singularis.Specification/Singularis.Specification.Executor.Nhibernate/bin
src/Singularis.Specification/Singularis.Specification.Test/obj
src/Singularis.Specification/Singularis.Specification.Test/bin
src/Singularis.Specification/.idea/
src/Singularis.Specification/.vs